body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15%;
  margin-top: 7%;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th {
  border: 1px solid black;
  text-align: center;
}

#btnnuevo {
  background-color: green;
  color: white;
  border: 0px solid green;
}

#btnedit {
  background-color: royalblue;
  color: white;
  border: 0px solid royalblue;
}

#btnborrar {
  background-color: red;
  color: white;
  border: 0px solid red;
}
